/* BODY  */

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(100, 125, 117);
}
/* ------------------------------------------------- */
/* HEADER  */

header {
  display: flex;
  color: white;
  background-color: rgb(31, 54, 54);
  justify-content: space-between;
  padding: 2rem;
}

/* ------------------------------------------------- */

/* TIME  */

time {
    min-width: 100px;
}
/* ------------------------------------------------- */

/* MAIN  */

main {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

/* ------------------------------------------------- */

/* HIGHSCORES AND TIME  */

#highscores-link, .time-text {
    font-size: 1.5rem;
    font-weight: bold;

}

/* ------------------------------------------------- */

#time {
    margin-right: 80px;
   
}

/* ------------------------------------------------- */

/* CARDS STYLES  */

.box-card {
  border: solid;
  border-width: 10px;
  border-color: rgb(38, 68, 68);
  box-shadow: 50px green;
  border-radius: 40px;
  max-width: 90%;
  margin: 20px;
  padding: 20px;
  color: white;
  background-color: rgb(19, 49, 49);
}

/* ------------------------------------------------- */

/* ALL BUTTONS  */

/* start button  */
#main-start-button {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Courier New;
  color: #126e4b;
  font-size: 19px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #bfc8c4 5px;
  text-decoration: none;
}

#main-start-button:hover {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #b0bdb7);
  background-image: -moz-linear-gradient(top, #ffffff, #b0bdb7);
  background-image: -ms-linear-gradient(top, #ffffff, #b0bdb7);
  background-image: -o-linear-gradient(top, #ffffff, #b0bdb7);
  background-image: linear-gradient(to bottom, #ffffff, #b0bdb7);
  text-decoration: none;
}
/* ------------------------------------------------- */

/* general button  */
.button {


}

/* quiz buttons */
.quiz-button {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    margin: 10px;
    width: 100%;
    color: white;
    background-color: rgb(38, 68, 68);
    height: 40px;
}

/* back button  */

#back-to-button {
}

/* clear button  */

#clear-scores-button {
}

#main-submit-button {
    background: #07873c;
        background-image: -webkit-linear-gradient(top, #07873c, #15591e);
        background-image: -moz-linear-gradient(top, #07873c, #15591e);
        background-image: -ms-linear-gradient(top, #07873c, #15591e);
        background-image: -o-linear-gradient(top, #07873c, #15591e);
        background-image: linear-gradient(to bottom, #07873c, #15591e);
        -webkit-border-radius: 15;
        -moz-border-radius: 15;
        border-radius: 15px;
        font-family: Courier New;
        color: #ffffff;
        font-size: 14px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
}

#main-submit-button:hover { 
background: #3cfc86;
    background-image: -webkit-linear-gradient(top, #3cfc86, #3498db);
    background-image: -moz-linear-gradient(top, #3cfc86, #3498db);
    background-image: -ms-linear-gradient(top, #3cfc86, #3498db);
    background-image: -o-linear-gradient(top, #3cfc86, #3498db);
    background-image: linear-gradient(to bottom, #3cfc86, #3498db);
    text-decoration: none;
}

#main-initials-input {
    padding-top: 10px;
    border-bottom-width: 6.6;
    padding-bottom: 10px;
}

/* ------------------------------------------------- */


